.nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 20px;
	height: 20px;
	z-index: 1;
	transition-timing-function: ease-in;
	transition: all 0.5s;
}

.nav-black {
	background-color: #111;
}

.nav-logo {
	width: 80px;
	border-radius: 5px;
	object-fit: contain;
	position: fixed;
	left: 20px;
	top: 10px;
}

.nav-avatar {
	width: 30px;
	object-fit: contain;
	position: fixed;
	right: 20px;
	cursor: pointer;
}

.nav-avatar:hover {
	transform: scale(1.1);
}

.login {
	position: fixed;
	right: 65px;
	top: 20px;
	cursor: pointer;
	color: #fff;
	outline: none;
	border: none;
	font-weight: 700;
	border-radius: 0.2vw;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-right: 1rem;
	padding-top: 0.5rem;
	background-color: rgba(51, 51, 51, 0.7);
	padding-bottom: 0.5rem;
}

.login:hover {
	color: #000;
	background-color: #e6e6e6;
	transition: all 0.2s;
}

.register {
	position: fixed;
	right: 175px;
	top: 20px;
	cursor: pointer;
	color: #fff;
	outline: none;
	border: none;
	font-weight: 700;
	border-radius: 0.2vw;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-right: 1rem;
	padding-top: 0.5rem;
	background-color: rgba(51, 51, 51, 0.7);
	padding-bottom: 0.5rem;
}

.register:hover {
	color: #000;
	background-color: #e6e6e6;
	transition: all 0.2s;
}

.user-name {
	color: #fff;
	font-weight: 700;
	font-size: 1.2em;
	position: fixed;
	right: 250px;
	top: 25px;
}
